@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  background-color: black;
  color: white;
}

li a {
  color: rgba(0, 162, 255, 0.815);


}

li a:hover {
  text-decoration: underline;
  color: brown;
  font-style: italic;

}

h1 {
  text-align: center;
  margin: 50px 0px;
  color: #b91c1c;
  font-weight: bold;
}

.link {
  position: absolute;
  overflow: hidden;

  top: 30%
}

.link h3 {
  text-align: center;
  opacity: 0;


}




.link p {
  opacity: 0;
  text-align: center;
  font-size: 1.2vw;
}

.link:hover h3 {
  opacity: 1;
  text-align: center;
  font-weight: bold;
}

.link:hover p {
  opacity: 1;
  margin: 0px 5px;
}