@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  background-color: black;
  color: white;
}

li a {
  color: rgba(0, 162, 255, 0.815);


}

li a:hover {
  text-decoration: underline;
  color: brown;

}